Base/
.DS_Store
Thumbs.db

[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.sln.docstates
.suo

.idea/
*.sln.iml

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.log
*.tmp
*.crash

*.bak
*.pkauth
NuGet.config
*.nuget.props
*.nuget.targets
packages/

*.pdb
*.vshost.exe
*.vshost.exe.manifest
_ReSharper*/
